body {
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 12em 1fr;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #274C43;
}

nav {
    display: block;
    background-color: #BF9976;
    grid-column: 1 / span 12;
    grid-row: 1;
    margin-top: 0;
    margin-bottom: 0;
    border: 5px solid black;
}

ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

nav > h2 {
    padding-top: 0.5em;
    padding-left: 3em;
    font-size: 3em;
    letter-spacing: 3px;
    color: #274C43;
}

nav > ul {
    list-style: none;
    margin: 0;
    padding-right: 5em;
}

nav > ul > li {
    display: inline;
    float: right;
    padding: 1.5em 2em;
    bottom: 4em;
    position: relative;
    font-size: 2em;
}

nav > ul > li > a {
    text-decoration: none;
    color: black;
}

.active {
    text-decoration: underline;
}

aside {
    display: block;
    background-color: #274C43;
    grid-column: 1 / span 5;
    grid-row: 2;
    margin-bottom: 6em;
}

#profile {
    display: block;
    margin: 15em;
    margin-top: 10em;
    margin-bottom: 1em;
    border: 5px solid black;
    border-radius: 200px;
}

#linkedin {
    display: block;
    margin-top: 1em;
    margin-left: 23em;
    margin-bottom: 5em;
    filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.25));
}

main {
    display: block;
    grid-column: 6 / span 6;
}

main > ul {
    display: block;
    background-color: #D9D9D9;
    margin-top: 10em;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    filter: drop-shadow(15px 15px 4px rgba(0, 0, 0, 0.25));
}

#bio {
    padding-top: 4em;
    padding-bottom: 2em;
    padding-left: 1em;
    padding-right: 2em;
    line-height: 25px;
}

#skills {
    padding-left: 1em;
    padding-bottom: 4em;
    padding-right: 2em;
    line-height: 25px;
}